<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">教练申请</h4>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-condensed">
      <thead>
      <tr>
        <th class="text-center">申请时间</th>
        <th class="text-center">姓名</th>
        <th class="text-center">手机号</th>
        <th class="text-center">特长</th>
        <th class="text-center">状态</th>
        <th class="text-center">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="data in listData track by $index">
        <td class="text-center">{{data.createTime}}</td>
        <td class="text-right">{{data.name}}</td>
        <td class="text-right">{{data.phone}}</td>
        <td class="text-right">{{data.specially}}</td>
        <td class="text-right">{{data.status}}</td>
        <td class="text-center"><a href="" data-toggle="modal" data-target=".handle-coach-modal">审核</a></td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td>
          <uib-pagination total-items="paginationConf.totalItems"
                          ng-model="paginationConf.currentPage"
                          ng-change="pageChanged()"
                          max-size="paginationConf.maxSize"
                          class="pagination"
                          first-text="首页"
                          last-text="末页"
                          boundary-links="true"
                          direction-links="false"
                          force-ellipses="true"></uib-pagination>
        </td>
        <td></td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
