<!--修改密码弹窗-->
<!--<div class="modal change-password-modal" tabindex="-1" role="dialog">-->
<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">修改密码</h4>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label class="control-label">原密码:</label>
          <input type="text" class="form-control" placeholder="请输入原密码"/>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="submitRemoveCashier(currentCashier)">确认</button>
    </div>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
<!--</div>-->
<!-- /.modal -->
