<div class="row">
  <div class="col-md-2 col-sm-3 sidebar" ng-include="'views/include/sidebar.html'"></div>
  <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 main">
    <div class="page-header">
      <h1>教练申请</h1>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <form class="form-horizontal">
          <div>
            <div class="sub-header">
              <h4>填写个人信息</h4>
            </div>
            <div class="form-group">
              <label for="inputName" class="col-sm-4 control-label">＊姓名</label>

              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputName" placeholder="姓名" ng-model="coachInfo.name">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPhone" class="col-sm-4 control-label">＊电话</label>

              <div class="col-sm-8">
                <input type="tel" class="form-control" id="inputPhone" placeholder="电话" ng-model="coachInfo.phone">
              </div>
            </div>
            <div class="form-group">
              <label for="inputWechatId" class="col-sm-4 control-label">＊微信号</label>

              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputWechatId" placeholder="微信号" ng-model="coachInfo.wechatId">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-default" ng-click="submit()">提交</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
