<!--include 顶部导航栏-->
<header ng-include="'views/include/header.html'"></header>
<div class="container-fluid">
  <div class="row">
    <!--include 左侧sidebar-->
    <div class="col-md-2 col-sm-3 sidebar" ng-include="'views/include/sidebar.html'"></div>
    <!--Main: start-->
    <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 main">
      <!--page-header-->
      <div class="page-header">
        <h1>场馆详情</h1>
      </div>
      <!--Panels: start-->
      <div class="col-sm-6">
        <!--场馆信息Panel-->
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">场馆信息</h4>
          </div>
          <div class="panel-body">
            <p>场馆id：{{gymData.id}}</p>

            <p>场馆名称：{{gymData.name}}</p>

            <p>场馆地址：{{gymData.province + gymData.city + gymData.district + gymData.addDetail}}</p>

            <p>场馆电话：{{gymData.tel}}</p>

            <p>场馆头图：</p>

            <div class="row">
              <div class="col-xs-12">
                <img ng-src="{{gymData.headImg}}" alt="" height="100px"/>
              </div>
            </div>
            <p>场馆类型：</p>

            <div class="row">
              <div class="col-xs-2 text-center" ng-repeat="item in gymType">
                <img ng-src="{{item.imgSelected}}" alt="" width="100%">

                <p>{{type.name}}</p>
              </div>
            </div>
          </div>
        </div>
        <!--提现账户信息Panel-->
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">提现账户信息</h4>
          </div>
          <div class="panel-body">
            <table class="table table-bordered table-striped table-hover table-condensed">
              <thead>
              <tr>
                <th>银行账户</th>
                <th>类型</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in accountData">
                <td>{{item.accountNumber}}</td>
                <td>{{item.type}}</td>
              </tr>
              </tbody>
              <tfoot>

              </tfoot>
            </table>
          </div>

          <form class="form-horizontal" ng-submit="submitEditWithdrawSettings()">
            <div class="form-group">
              <label class="col-sm-4 control-label">＊修改提现次数:</label>

              <div class="col-sm-4">
                <input type="number"
                       class="form-control"
                       placeholder="提现次数"
                       ng-model="withdrawCount" min="0" step="1" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">＊修改最低提现额度:</label>

              <div class="col-sm-4">
                <input type="number"
                       class="form-control"
                       placeholder="最低提现额度"
                       ng-model="withdrawLimit" min="0" step="1" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-success">提交</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-6">
        <!--场馆管理员Panel-->
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">管理员列表</h4>
          </div>
          <!--<div class="panel-body">-->
          <!--说明文字-->
          <!--</div>-->
          <!--<div class="table-responsive">-->
          <table class="table table-bordered table-striped table-hover table-condensed">
            <thead>
            <tr>
              <th>昵称</th>
              <th>手机号</th>
              <th>权限</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in superManagerData">
              <td>{{item.nickName}}</td>
              <td>{{item.phone}}</td>
              <td>场馆管理员</td>
            </tr>
            <tr ng-repeat="item in cashierData">
              <td>{{item.nickName}}</td>
              <td>{{item.phone}}</td>
              <td>收银员</td>
            </tr>
            </tbody>
            <tfoot>

            </tfoot>
          </table>
          <!--</div>-->
        </div>
        <!--填写场馆管理员信息Panel-->
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">添加场馆管理员</h4>
          </div>
          <div class="panel-body">
            <form class="form-horizontal" ng-submit="submitCheckUser()" ng-show="!showNext">
              <div class="form-group">
                <label class="col-sm-4 control-label">＊手机号码:
                </label>

                <div class="col-sm-4">
                  <input type="tel" class="form-control" placeholder="请输入手机号码" ng-model="smPhone" required>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                  <button type="submit" class="btn btn-success">下一步</button>
                </div>
              </div>
            </form>
            <form class="form-horizontal" ng-submit="smExist ? submitBindSuperManager() : submitAddSuperManager()" ng-show="showNext">
              <div class="form-group">
                <label class="col-sm-4 control-label">＊手机号码:
                </label>
                <div class="col-sm-4">
                  <p class="form-control-static">{{smPhone}}</p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">＊昵称:
                </label>

                <div class="col-sm-4">
                  <input type="tel" class="form-control" placeholder="请输入昵称" ng-model="smNickName" required ng-disabled="smExist">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">性别:</label>

                <div class="col-sm-4">
                  <label class="radio-inline">
                    <input type="radio" name="smSex" value="1" ng-model="smSex" ng-checked="smSex" ng-disabled="smExist">
                    男
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="smSex" value="0" ng-model="smSex" ng-checked="!smSex" ng-disabled="smExist">
                    女
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="receiveMsg">
                      接收微信消息推送
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                  <button type="submit" class="btn btn-success">提交</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--填写提现帐户信息Panel-->
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">添加提现帐户</h4>
          </div>
          <div class="panel-body">
            <form class="form-horizontal"
                  ng-submit="submitAddAccountInfo()">
              <div class="form-group">
                <label class="col-sm-4 control-label">＊银行卡号:</label>

                <div class="col-sm-6">
                  <input type="text"
                         class="form-control"
                         placeholder="银行卡号"
                         ng-model="accNum" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">＊开户姓名:</label>

                <div class="col-sm-6">
                  <input type="tel"
                         class="form-control"
                         placeholder="开户姓名"
                         ng-model="accName" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">＊开户行:</label>

                <div class="col-sm-6">
                  <input type="text"
                         class="form-control"
                         placeholder="开户行"
                         ng-model="accBank" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">＊银行Code:</label>

                <div class="col-sm-6">
                  <input type="text"
                         class="form-control"
                         placeholder="银行Code"
                         ng-model="bankCode" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">＊开户手机号:</label>

                <div class="col-sm-6">
                  <input type="tel"
                         class="form-control"
                         placeholder="开户手机号"
                         ng-model="accPhone" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">＊个人或公司</label>

                <div class="col-sm-6">
                  <label class="radio-inline">
                    <input type="radio" name="accTypeRadioOptions" id="accTypeRadioOption1" value="PERSONAL" ng-model="accType">
                    个人
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="accTypeRadioOptions" id="accTypeRadioOption2" value="COMPANY" ng-model="accType">
                    公司
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="isDefaultAccount">
                      设置为默认提现卡号
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                  <button type="submit"
                          class="btn btn-success">提交
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--Panels: end-->
    </div>
    <!--Main: end-->
  </div>
</div>
