<header ng-include="'views/include/header.html'"></header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-3 sidebar" ng-include="'views/include/sidebar.html'"></div>
    <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 main">
      <div class="page-header">
        <h1>认证场馆列表</h1>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">认证场馆列表</h4>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover table-condensed">
            <thead>
            <tr>
              <th>名称</th>
              <th>状态</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in list">
              <td><a ng-href="#/hs/gym/{{item.id}}">{{item.name}}</a></td>
              <td>{{item.status}}</td>
              <td></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="3">
                <ul class="pagination"
                    ng-show="!!list">
                  <li ng-class="{'active': isPage(1)}">
                    <a ng-href="#hs/gym/page/1"
                       ng-if="!isPage(1)">首页</a>
                    <span ng-if="isPage(1)">首页</span>
                  </li>
                  <li>
                    <a ng-href="#hs/gym/page/{{currentPage - 1}}"
                       ng-if="!isPage(1)">
                      <span>&laquo;</span>
                    </a>
                    <span ng-if="isPage(1)">&laquo;</span>
                  </li>
                  <li ng-repeat="page in pages"
                      ng-class="{'active': isPage(page)}">
                    <a ng-href="#hs/gym/page/{{page}}"
                       ng-click="loadPage(page)"
                       ng-if="!isPage(page)">{{page}}</a>
                    <span ng-if="isPage(page)">{{page}}</span>
                  </li>
                  <li>
                    <a ng-href="#hs/gym/page/{{currentPage + 1}}"
                       ng-if="!isPage(totalPage)">
                      <span>&raquo;</span>
                    </a>
                    <span ng-if="isPage(totalPage)">&raquo;</span>
                  </li>
                  <li ng-class="{'active': isPage(totalPage)}">
                    <a ng-href="#hs/gym/page/{{totalPage}}"
                       ng-if="!isPage(totalPage)">末页</a>
                    <span ng-if="isPage(totalPage)">末页</span>
                  </li>
                  <li>
                    <span>{{currentPage + "/" + totalPage}}</span>
                  </li>
                </ul>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
