<header ng-include="'views/include/header.html'"></header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-3 sidebar" ng-include="'views/include/sidebar.html'"></div>
    <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 main">
      登录用户信息: {{currentUser}}
      <div ng-controller='TestScopeController'>
        <input type="text" ng-model="color" placeholder="Enter a color"/>
        {{color}}
        <hello-world color='color'></hello-world>  //注意这里的写法 <input type="text" ng-model="color" placeholder="Enter a color"/>
      </div>
    </div>
  </div>
</div>
